*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bar{
    width: 100%;
    height: 100px;
    display: flex;
    background-color: black;
    color: white;
    position: fixed;
    
}
.nav-left{
    width: 40%;
    height: 100px;
    display: flex;
    margin: 0px 100px;
}
.nav-left h3{
    padding-top: 30px;
}
.nav-right{
    width: 60%;
    height: 100px;
    display: flex;
    justify-content: right;
    margin: 0px 100px;
}
.nav-right p{
    padding-top: 40px;
    padding-left: 100px;
}
.nav-left img{
    height: 70%;
    padding-top: 20px;
}
.nav-right img{
    height: 70%;
    padding-top: 20px;
}
.nav-right button{
    height: 50%;
    color: white;
    background-color: #ffc427;
    margin-top: 20px;
    padding: 10px 25px;
    border-radius: 6px;
    margin-left: 20px;
    cursor: pointer;
}
#img1{
    padding-left: 100px;
}
.container{
    width: 100%;
    height: 550px;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: space-between;
}
.text{
    width: 50%;
    height: 100%;
    margin: 0px 100px;
    padding: 150px 0px;
    font-size: x-large;
}

.banner{
    width: 45%;
    height: 100%;
    margin: 0px 100px;
    padding-top: 80px;
}
.button{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
}
.button button{
    width: 160px;
    height: 70px;
    color: white;
    background-color: #009ddc;
    border-radius: 4px;
    margin-top: 50px;
    border-style: none;
}
#red{
    width: 160px;
    height: 70px;
    color: white;
    background-color: #EE3831;
    border-radius: 4px;
    border-style: none;
}
.reece{
    width: 100%;
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: white;
}
.james{
    width: 48%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin: 70px 100px;
    line-height: 1.4;
}
.james1{
    width: 48%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin: 40px 100px;
    line-height: 1.4;
    
}
#img4{
    width: 40%;
    height: 35px;
    /* margin-top: 50px; */
}
#img3{
    width: 40%;
    height: 110px;
    /* padding-top: 30px; */
}
.james1 p{
    padding-top: 20px;
}
.mason{
    width: 100%;
    height: 300px;
    display: flex;
    color: white;
    background-color: blue;
    overflow: hidden;

    
}
.mount1{
    width: 34%;
    height: 100%;
    background-color: #009ddc;
    padding: 0px 100px;
    text-align: center;
    padding-top: 150px;
    border: 1px solid black;
    cursor: pointer;
}
.pj{
    width: 22%;
    height: 100%;
    background-color: rgb(14, 136, 185);
    overflow: hidden;
}
.mount_{
    width: 100%;
    height: 100%;
    background-color: #009ddc;
    border: 1px solid black;
    text-align: center;
    padding-top: 150px;
}
.pj .mount_:hover{
    transform: translate(40px,0px);
    border-left: 1px solid #009ddc;
}
.ngolo{
    width: 100%;
    height: 750px;
    display: wrap;
    /* justify-content: space-between; */
    color: white;
    display: flex;
    background-color: greenyellow;
}
.main{
    display: block;
    width: 30%;
    height: 100%;
    background-color: #457008;
}
.main .kante{
    width: 100%;
    height: 50%;
    background-color: #7fc027;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
    transform-origin: left;
    transition: transform 1s;
}
.main .kante:hover{
    transform:translateZ(100px)perspective(2000px)rotateY(-40deg) ;
    border-right: 8px solid #609b0d;
    border-top: 2px solid #6fb908;
    border-bottom: 2px solid #6fb908;
    border-radius: 5px;
}
.kante1{
    width: 40%;
    height: 100%;
    background-color: #7fc027;
    text-align: center;
    padding: 0px 100px;
    padding-top: 300px;
    font-size: xx-large;
    border: 1px solid black;
}
.kante1 p{
    font-size: large;
    padding-top: 10px;
    color: black;
}
.main1{
    display: block;
    width: 30%;
    height: 100%;
    background-color: #457008;
}
.main1 .kante{
    width: 100%;
    height: 50%;
    background-color: #7fc027;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
    transform-origin: right;
    transition: transform 1s;
}
.main1 .kante:hover{
    transform:translateZ(100px)perspective(2000px)rotateY(40deg) ;
    border-left: 8px solid #609b0d;
    border-top: 2px solid #6fb908;
    border-bottom: 2px solid #6fb908;
    border-radius: 5px;
}
.felix{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
}
.main-felix{
    width: 50%;
    height: 600px;
    display: block;
}
.felix1{
    width: 100%;
    height: 300px;
    background-color: #972169;
    color: white;
    text-align: center;
    padding: 100px 0px;
    border: 1px solid black;
} 
.felix-main{
    width: 50%;
    height: 600px;
    display: block;

}
.purple{
    width: 100%;
    height: 300px;
    background-color: red;
    color: white;
    overflow: hidden;
}
.purple .felix1{
     width: 100%;
     height: 100%;
     background-color:#972169 ;
     transform: perspective(-1500px) 
}
.purple .bro{
    width: 100%;
    height: 100%;
    background-color: hsl(323, 33%, 36%);
    transition: transform 1s;
}
.purple:hover .bro{
    transform: translateY(-300px);
    border:hsl(323, 33%, 36%) ;
}
.felix2{
    width: 100%;
     height: 200px;
    background-color: #972169;
    color: white;
    text-align: center;
    border: 1px solid black;
    cursor: pointer; 
}
.felix2 img{
    width: 100%;
    height: 100%;
}
.felix2 p{
    font-size:x-large;
    padding-right: 350px;
    padding-top: 100px;
}
.thiago{
    width: 100%;
    height: 800px;
    display: flex;
    color: white; 
    text-align: center;
    background-color: blue;
    overflow: hidden;
}
.silva-box{
    width: 50%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.silva{
    width: 50%;
    height: auto;
    margin: 0px;
    background-color: #009ddc;
    border: 1px solid black;
    padding-top: 70px;
    cursor: pointer;   
}
.silva:hover{
    transform:translate(30px, -30px);
    border: #009ddc;
}
.si{
    width: 50%;
    height: auto;
    margin: 0px;
    background-color: #009ddc;
    border: 1px solid black;
    padding-top: 70px;
    cursor: pointer; 
}
.si:hover{
    transform: translate(-30px, 30px);
    border: #009ddc;
}
.sil{
    width: 50%;
    height: auto;
    margin: 0px;
    background-color: #009ddc;
    border: 1px solid black;
    padding-top: 70px;
    cursor: pointer;
    
}
.sil:hover{
    transform: translate(-30px,-30px);
    border: #009ddc;
}

.silva h2{
    padding-top: 200px;
}
.siva{
    width: 50%;
    height: auto;
    margin: 0px;
    background-color: #009ddc;
    border: 1px solid black;
    padding-top: 70px;
    cursor: pointer;
}
.siva:hover{
    transform: translate(30px,30px);
    border: #009ddc;
}
.silva-box2{
    width: 50%;
    height: auto ;
    background-color: #009ddc;
    border: 1px solid black;
    font-size: xx-large;
    padding-top: 350px;
}
.silva-box2 p{
    font-size: small;
}
#bla{
    color: black;
}

.last-row{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: yellow;
}
.box-1{
    width: 70%;
    height: 100%;
    font-size: xx-large;
    display: flex;
    background-color: #ffc427;
    padding: 0px 100px;
    padding-top: 85px;
    border: 2px solid black;
    border-top: none;
}
.box-1 p{
    font-size: x-large;
}
.box-2{
    width: 30%;
    height: 100%;
    background-color: #ffc427;
    padding-top: 85px;
    padding-left: 130px;
    border: 2px solid black;
    cursor: pointer;
    border-left: none;
    border-top: none;
}
.box-2:hover{
    transform: translate(40px,-0px);
    border: #ffc427;
}
.box-2 img{
    width: 150px;
    height: 100px;
}
.footer{
    width: 100%;
    height: 150px;
    display: flex;
    background-color: black;
    color: white;
    /* margin-top: 10px; */
}
.footer-left{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
    padding-top: 70px;
}
.footer-left p{
    cursor: pointer;
}
.footer-left img{
    width: 60px;
    height: 60px;
    margin-right: 300px;
    padding-bottom: 30px;
}
.footer-right{
    width: 40%;
    height: 100%;
    justify-content: right;
    padding-top: 40px;
}
#p1{
    font-size: small;
    padding-top: 5px;

}

